html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  height: 100%;
  position: relative;
}
.wrapper #map {
  height: 100%;
}
.wrapper #chat {
  width: 600px;
  height: 500px;
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.wrapper #chat-room {
  height: 448px;
  width: 100%;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.5);
  color: whitesmoke;
  font-size: 16px;
  word-wrap: break-word;
}
.wrapper #chat-room .comment span {
  color: #5AFFD3;
  font-weight: bold;
}
.wrapper #chat-room .comment p {
  display: inline-block;
  margin-left: 5px;
}
.wrapper #chat-room .owner span {
  color: #0b97c4;
}
.wrapper #chat-form {
  width: 100%;
  padding: 1%;
  position: absolute;
  bottom: 0;
}
.wrapper #chat-form input {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
}
.wrapper #chat-form input:focus {
  outline: none;
}
.wrapper #user-info {
  width: 400px;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 50px;
  left: 670px;
}
.wrapper #user-info img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 15px;
  left: 15px;
  border-radius: 50px;
}
.wrapper #user-info h3.user-name {
  color: #0b97c4;
  position: absolute;
  top: 15px;
  left: 90px;
  margin: 0;
  padding: 0;
}
.wrapper #user-info p.user-description {
  width: 300px;
  position: absolute;
  color: whitesmoke;
  left: 90px;
  top: 55px;
}
/* Modal Style */
#twitter-login-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* Custom Marker Style */
.marker {
  position: relative;
}
.marker span {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 5px solid #fff;
  border-radius: 999px;
  animation: radar 2s infinite linear;
  opacity: 0;
}
.marker span:nth-child(1) {
  animation-delay: 0s;
}
.marker span:nth-child(2) {
  animation-delay: 0.66s;
}
.marker span:nth-child(3) {
  animation-delay: 1.33s;
}
@keyframes radar {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
